subtag, not token

https://github.com/adlnet/xAPI-Spec/blob/master/xAPI-Data.md#22-formatting-requirements

`The LRS MUST at least validate that the sequence of token lengths for language map keys matches the RFC 5646 standard.`

RFC 5646 uses the word subtag, not token. 

We should also consider linking specifically to section 2.1 of RFC 5646 which sets out the lengths of different types of subtag. The counter argument is that the sequence of different types of subtag are defined all over the place. 

Proposed new wording:

`The LRS MUST at least validate that the sequence and length of subtags used in language map keys conforms to RFC 5646.`

+1